---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Image from "astro/components/Image.astro";
import danceMotherFuckerDance from '../assets/images/dance-motherfucker-dance.jpg';
const nyheder = await Astro.glob('./nyheder/*.md');
const sorteredenyheder = nyheder.sort((a, b) => Date.parse(b.frontmatter.dato) - Date.parse(a.frontmatter.dato));
const udvalgtenyheder = sorteredenyheder.slice(0, 3);
---
<MainLayout title="Titel">
	<article class="relative mb-16">
		<Image src={danceMotherFuckerDance} alt="dance motherfucker dance" class=""/>
		<div class="@container absolute top-0 left-1/4 w-1/2 ">
			<h1 class="font-['Roboto'] text-persianmosaic-900 font-bold italic text-[14cqw] mt-[22cqi]">Dance, motherfucker, dance!</h1>
		</div>
	</article>
	<div class="max-w-5xl mx-auto">
		<section class="px-10 sm:px-20 mb-20">
			<h2 class="mb-8 text-4xl font-semibold text-persianmosaic-200">Nyheder</h2>
			<!-- alt hvad der omhandler lists til nyheder -->
			<ul class="border border-neutral-500">
				{udvalgtenyheder.map(post => 
				<li class="md:grid grid-cols-2 gap-10 p-10">
					<div class="grid place-content-center mb-8 md:mb-0">
					<img src={post.frontmatter.coverimage} alt={post.frontmatter.coveralt} class="" />
					</div>
					<div class="grid place-content-center p-5">
						<h3 class="mb-2"><a href={post.url} class="text-persianmosaic-300 hover:text-persianmosaic-200 text-xl font-medium">{post.frontmatter.title}</a></h3>
						<span class="text-xs text-neutral-500 font-light mb-2">{post.frontmatter.dato}</span>
						<p class="text-sm mb-2">{post.frontmatter.kortversion}</p>
						<a href={post.url} class="text-sm text-persianmosaic-400 hover:text-persianmosaic-200 underline underline-offset-1">Læs mere...</a>
					</div>
				</li>
				)}
			</ul>
			<!-- slut på alt hvad der omhandler lists til nyheder -->
		</section>
		<section x-data="{ alledansehold: []}" x-init="alledansehold = await (await fetch('dansehold.json')).json(); alledansehold.reverse();" class="p-10 sm:px-20 mb-20">
			<h2 class="mb-8 text-4xl font-bold text-persianmosaic-100">Dansehold Efterår 2024</h2>
			<!-- alt hvad der omhandler cards til dansehold -->
			<section class="md:grid grid-cols-2 gap-10">
				<template x-for="dansehold in alledansehold" :key="dansehold.id">	
					<article class="border border-neutral-500 mb-10">
						<a href="#" class="text-neutral-800 hover:text-neutral-950">
							<header class="relative">
								<img :src="dansehold.holdbillede" :alt="dansehold.hodlbilledealt" class="object-cover max-h-80 w-full mb-7">
								<div class="absolute left-0 top-0 text-neutral-50 font-medium bg-persianmosaic-300 p-3" x-show="">Nyt hold</div>
								<div class="flex flex-row gap-1 absolute right-0 top-0 text-neutral-50 text-xs bg-persianmosaic-100 p-3 rounded-sm" x-show="dansehold.rabat"><span x-text="dansehold.rabatsats"></span> rabat
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ml-2">
										<path d="M8 7c3.314 0 6-1.343 6-3s-2.686-3-6-3-6 1.343-6 3 2.686 3 6 3Z" />
										<path d="M8 8.5c1.84 0 3.579-.37 4.914-1.037A6.33 6.33 0 0 0 14 6.78V8c0 1.657-2.686 3-6 3S2 9.657 2 8V6.78c.346.273.72.5 1.087.683C4.42 8.131 6.16 8.5 8 8.5Z" />
										<path d="M8 12.5c1.84 0 3.579-.37 4.914-1.037.366-.183.74-.41 1.086-.684V12c0 1.657-2.686 3-6 3s-6-1.343-6-3v-1.22c.346.273.72.5 1.087.683C4.42 12.131 6.16 12.5 8 12.5Z" />
									  </svg>
								</div>
								<div class="absolute right-0 bottom-0 text-neutral-950 text-xs bg-persianmosaic-900 p-2 rounded-sm" x-show="(dansehold.pladserpaaholdet - dansehold.antaldeltagere) < 5">Kun få pladser tilbage!</div>
							</header>
							<section class="px-5 mb-10">
								<h3 class="text-2xl font-semibold text-persianmosaic-200 hover:text-persianmosaic-100 mb-2" x-text="dansehold.holdnavn"></h3>
								<div class="md:grid grid-cols-2 mb-2">
									<div class="venstre">
										<div><span class="font-medium">Tid: </span><span x-text="dansehold.tidspunkt" class="text-neutral-500 font-light"></span></div>
										<div><span class="font-medium">Alder: </span><span x-text="dansehold.alder" class="text-neutral-500 font-light"></span></div>
										<div><span class="font-medium">Niveau: </span><span x-text="dansehold.niveau" class="text-neutral-500 font-light"></span></div>
									</div>
									<div class="hoejre">
										<div><span class="font-medium">Deltagere: </span><span x-text="dansehold.pladserpaaholdet" class="text-neutral-500 font-light"></span></div>
										<div><span class="font-medium">Lokale: </span><span x-text="dansehold.lokale" class="text-neutral-500 font-light"></span></div>
									</div>
								</div>
								<p class="" x-text="dansehold.holdbeskrivelse"></p>	
							</section>
							<hr />
							<section class="md:grid grid-cols-2 place-items-center justify-center gap-5 m-10">
								<div class="mb-4 md:mb-0"><img :src="dansehold.underviserfoto" :alt="dansehold.underviserfotoalt" class="object-cover h-24 w-24 rounded-full">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="text-persianmosaic-300 w-4 h-4">
										<path fill-rule="evenodd" d="M15 8c0 .982-.472 1.854-1.202 2.402a2.995 2.995 0 0 1-.848 2.547 2.995 2.995 0 0 1-2.548.849A2.996 2.996 0 0 1 8 15a2.996 2.996 0 0 1-2.402-1.202 2.995 2.995 0 0 1-2.547-.848 2.995 2.995 0 0 1-.849-2.548A2.996 2.996 0 0 1 1 8c0-.982.472-1.854 1.202-2.402a2.995 2.995 0 0 1 .848-2.547 2.995 2.995 0 0 1 2.548-.849A2.995 2.995 0 0 1 8 1c.982 0 1.854.472 2.402 1.202a2.995 2.995 0 0 1 2.547.848c.695.695.978 1.645.849 2.548A2.996 2.996 0 0 1 15 8Zm-3.291-2.843a.75.75 0 0 1 .135 1.052l-4.25 5.5a.75.75 0 0 1-1.151.043l-2.25-2.5a.75.75 0 1 1 1.114-1.004l1.65 1.832 3.7-4.789a.75.75 0 0 1 1.052-.134Z" clip-rule="evenodd" />
									  </svg>									  
								  </div>
								<div class="">
									<p class="text-persianmosaic-300 text-lg font-semibold mb-1">Underviser: <span href="#" x-text=""></span></p>
									<p class="font-light text-sm" x-text="dansehold.underviserinfo"></p>
								</div>
							</section>
						</a>
					</article>
				</template>
			</section>
			<!-- slut på alt hvad der omhandler cards til dansehold -->
		</section>
	</div>
</MainLayout>