---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Image from "astro/components/Image.astro";
import danceMotherFuckerDance from '../assets/images/dance-motherfucker-dance.jpg';
const nyheder = await Astro.glob('./nyheder/*.md');
const sorteredenyheder = nyheder.sort((a, b) => Date.parse(b.frontmatter.dato) - Date.parse(a.frontmatter.dato));
const udvalgtenyheder = sorteredenyheder.slice(0, 3);
---
<MainLayout title="Titel">
	<article class="relative mb-16">
		<Image src={danceMotherFuckerDance} alt="dance motherfucker dance" class=""/>
		<div class="@container absolute top-0 left-1/4 w-1/2 ">
			<h1 class="font-['Roboto'] text-persianmosaic-900 font-bold italic text-[14cqw] mt-[22cqi]">Dance, motherfucker, dance!</h1>
		</div>
	</article>
	<div class="max-w-5xl mx-auto p-4">
		<section class="mb-16">
			<h2 class="mb-8 text-4xl font-semibold text-persianmosaic-100">Nyheder</h2>
			<!-- alt hvad der omhandler lists til nyheder -->
			<ul class="border-2 border-neutral-300">
				{udvalgtenyheder.map(post => 
				<li class="md:grid grid-cols-2 gap-10 p-10 sm:px-20">
					<div class="grid place-content-center mb-8 md:mb-0">
					<img src={post.frontmatter.coverimage} alt={post.frontmatter.coveralt} class="" />
					</div>
					<div class="grid place-content-center p-5">
						<h3 class="mb-2"><a href={post.url} class="text-persianmosaic-200 text-xl font-medium">{post.frontmatter.title}</a></h3>
						<span class="text-xs text-neutral-500 font-light mb-2">{post.frontmatter.dato}</span>
						<p class="text-sm mb-2">{post.frontmatter.kortversion}</p>
						<a href={post.url} class="text-sm text-persianmosaic-300 hover:text-persianmosaic-100 underline underline-offset-1">Læs mere...</a>
					</div>
				</li>
				)}
			</ul>
			<!-- slut på alt hvad der omhandler lists til nyheder -->
		</section>
		<section x-data="{ alledansehold: []}" x-init="alledansehold = await (await fetch('dansehold.json')).json(); alledansehold.reverse();" class="mb-16">
			<h2 class="my-8 text-4xl text-persianmosaic-100">Dansehold Efterår 2024</h2>
			<!-- alt hvad der omhandler cards til dansehold -->
			<section class="">
				<template x-for="dansehold in alledansehold" :key="dansehold.id">	
					<article class="">
						<a href="#" class="text-persianmosaic-300 hover:text-persianmosaic-100">
							<header class="">
								<img :src="dansehold.holdbillede" :alt="dansehold.hodlbilledealt" class="">
								<div class="" x-show="">Nyt hold!</div>
								<div class="" x-show="dansehold.rabat"><span x-text="dansehold.rabatsats"></span> rabat!</div>
								<div class="" x-show="(dansehold.pladserpaaholdet - dansehold.antaldeltagere) < 5">Kun få pladser tilbage!</div>
							</header>
							<section class="">
								<h3 class="" x-text="dansehold.holdnavn"></h3>
								<div class="">
									<div class="venstre">
										<div><span>Tid: </span><span x-text="dansehold.tidspunkt"></span></div>
										<div><span>Alder: </span><span x-text="dansehold.alder"></span></div>
										<div><span>Niveau: </span><span x-text="dansehold.niveau"></span></div>
									</div>
									<div class="hoejre">
										<div><span>Deltagere: </span><span x-text="dansehold.pladserpaaholdet"></span></div>
										<div><span>Lokale: </span><span x-text="dansehold.lokale"></span></div>
									</div>
								</div>
								<p class="" x-text="dansehold.holdbeskrivelse"></p>	
							</section>
							<hr />
							<section class="">
								<div class=""><img :src="dansehold.underviserfoto" :alt="dansehold.underviserfotoalt" class=""></div>
								<div class="">
									<p class="">Underviser: <span href="#" x-text=""></span></p>
									<p x-text="dansehold.underviserinfo"></p>
								</div>
							</section>
						</a>
					</article>
				</template>
			</section>
			<!-- slut på alt hvad der omhandler cards til dansehold -->
		</section>
	</div>
</MainLayout>